p {
  margin: 0;
}

.my-comment {
  margin-top: 5px;
}

.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.pad{
  padding-left: 10px;

}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-up {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

a[aria-expanded=false] .hidden,
a[aria-expanded=true] .shown{
  display: block;
  transition: all 3s;
  font-size: 10px;
}

a[aria-expanded=true] .hidden,
a[aria-expanded=false] .shown{
  display: none;
  transition: all 3s;
  font-size: 10px;
}

.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn-text {
  background-color: transparent;
  border: none;
  font-weight: 200;
  cursor: pointer;
  text-decoration: none;
  color: #007bff;
  padding: 0;
}

.btn-text:focus {
  outline: none;
}

.text-deleted {
  color: #969090;
}

.main-comment {
  width: 450px;
  min-height: 90px;
  margin-top: 5px;
  border-radius: 0;
  overflow: hidden;
}

.comment-post-btn {
  width: 60px;
  height: 30px;
  margin: 0;
  margin-top: 12px;
  border-radius: 0;
  box-sizing: content-box;
  padding: 3px 6px;
}

textarea.invalid {
  border: 1px solid #FF3547 !important;
}

.validation-error {
  content: "{{'common-errors.validation-max-length' | translate:{value: 500}}}";
  font-size: 80%;
  color: #FF3547;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
  margin: 15px 0;
}

.time-value,
.reply-btn {
  font-size: 10px;
  opacity: 50%;
  color: black;
  font-weight: 400;
}
