.my-comment{margin-top:20px;}

.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;

}
.width-40{
  width:40%;
}

.pad{
  padding-left: 10px;

}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}
