p {
    width: 45%;
    margin: 0;
    word-break: break-all;
    white-space: normal;
}

.my-comment {
    margin-top: 5px;
}

.comment-wrapper {
    list-style-type: none;
    margin-bottom: 10px;
    border-bottom: 1px dashed #0000002b;
}

.show-subcomments {
    display: block;
    margin-left: 60px;
}

#comments-block {
    padding-left: 38px;
}

.pad {
    padding-left: 10px;
}

.arrow-down {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-up {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

a[aria-expanded=false] .hidden,
a[aria-expanded=true] .shown {
    display: block;
    transition: all 3s;
    font-size: 14px;
}

a[aria-expanded=true] .hidden,
a[aria-expanded=false] .shown {
    display: none;
    transition: all 3s;
    font-size: 14px;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.btn-text {
    background-color: transparent;
    border: none;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    padding: 0;
}

.btn-text:focus {
    outline: none;
}

.text-deleted {
    color: #969090;
}

.main-comment {
    width: 450px;
    min-height: 90px;
    margin-top: 5px;
    border-radius: 0;
    overflow: hidden;
}

.comment-post-btn {
    width: 60px;
    height: 30px;
    margin: 0;
    border-radius: 0;
    box-sizing: content-box;
    padding: 3px 6px;
}

.comment-btn {
    margin: 10px 0;
}

textarea.invalid {
    border: 1px solid #FF3547 !important;
}

.validation-error {
    font-size: 80%;
    color: #FF3547;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
    margin: 15px 0;
}

.time-value,
.reply-btn {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
}

.sub-comment {
    width: 360px;
    min-height: 90px;
    margin-top: 5px;
    border-radius: 0;
    overflow: hidden;
}

.flex-align-center {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.login-link {
    margin-left: 10px;
}

.close-icon {
    position: relative;
    padding: 10px 7px;
}

.deletable {
    position: relative;
    padding: 10px 25px 10px 10px;
}

.comment-area-wrapper {
    position: relative;
    display: inline-block;
}

.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    z-index: 1;
    text-align: center;
    color: gray;
    font-weight: normal;
    font-size: 17px;
    cursor: pointer;
}

.deletable:not(:valid)~.close-icon {
    display: none;
}