<div class="my-comment">

  <div class="row bootstrap snippets">
    <div class=" col-md-offset-2 col-sm-12">
      <div>
        <div class="panel panel-info ">
          <div>
            <div>
              <div class="search-wrapper">
                <form (reset)="changeTextAreaHeight(Comment)">
                  <div class="comment-area-wrapper">
                    <textarea class="form-control main-comment deletable"
                              placeholder="Write a comment up to 500 characters"
                              name="comment"
                              required
                              #Comment
                              [(ngModel)]="text"
                              (input)="onCommentInput(Comment, 500)"
                    ></textarea>
                    <button class="close-icon" type="reset"></button>
                  </div>
                </form>
              </div>
            </div>

            <div class="flex-align-center">
              <button [disabled]="!canCommit()" type="button" (click)="PostComment(Comment.value)"
                      class="btn btn-info pull-right comment-post-btn">
                Post
              </button>
              <a class="login-link" *ngIf="!isAuthenticated()" (click)="login()">login to comment</a>
            </div>
            <hr>
            <ul class="media-list" id="comments-block">

              <li *ngFor="let comment of comments; let i = index" [attr.data-index]="i" class="comment-wrapper">


                <div class="media">
                  <a class="pull-left">
                    <ngx-avatar [name]="getUserInitials(comment.owner)"></ngx-avatar>
                  </a>

                  <div class="media-body pad">
                    <span class="time-value pull-right">
                          {{ formatDate(comment.date) }}
                    </span>
                    <strong *ngIf="!comment.isDeleted" class="text-success">by {{getUserName(comment.owner)}}</strong>

                    <a *ngIf="!comment.isDeleted && canEditComment(comment.owner)"
                       [attr.data-target]="'#root_'+ i + '_edit'"
                       data-toggle="collapse"
                       role="button"
                       class="btn-text"
                       href="#">
                      Edit
                    </a>

                    <button *ngIf="!comment.isDeleted && canDeleteComment(comment.owner)"
                            (click)="onDeleteComment(comment.id)"
                            role="button"
                            class="btn-text"
                    >
                      Delete
                    </button>

                    <p *ngIf="!comment.isDeleted; else DeletedMessage">
                      {{comment.text}}
                    </p>
                    <ng-template #DeletedMessage>
                      <p class="text-deleted">
                        [The comment was deleted]
                      </p>
                    </ng-template>

                    <small *ngIf="!comment.isDeleted">
                      <a [attr.data-target]="'#root_'+ i + '_reply'"
                         data-toggle="collapse"
                         class="reply-btn"
                         href="#">
                        Reply
                      </a>
                    </small>

                    <!--Reply form-->
                    <div id="root_{{i}}_reply" class="collapse" data-parent="#comments-block">
                      <ng-container *ngIf="isAuthenticated(); else ReplyNotAllowed">
                        <div>
                          <div class="search-wrapper">
                            <form (reset)="changeTextAreaHeight(Subcomment)">
                              <div class="comment-area-wrapper">
                                <textarea class="form-control sub-comment deletable"
                                          placeholder="Write a reply up to 500 characters"
                                          required
                                          name="subcomment"
                                          #Subcomment
                                          (input)="onCommentInput(Subcomment, 500)"
                                ></textarea>
                                <button class="close-icon" type="reset"></button>
                              </div>
                            </form>
                          </div>
                        </div>

                        <button [disabled]="Subcomment.value.length === 0"
                                (click)="PostChildComment(Subcomment.value, returnID(comment.id))"
                                type="button"
                                class="btn btn-info pull-right comment-post-btn comment-btn">
                          Post
                        </button>
                      </ng-container>
                      <ng-template #ReplyNotAllowed>
                        <p class="validation-error">Please, log in to reply to comments/sub-comments</p>
                      </ng-template>
                    </div>

                    <!--Edit form-->
                    <div id="root_{{i}}_edit" class="collapse" data-parent="#comments-block">
                      <form #updateFrom="ngForm">
                        <div>
                          <div class="search-wrapper">
                            <form (reset)="changeTextAreaHeight(EditComment)">
                              <div class="comment-area-wrapper">
                                <textarea class="form-control sub-comment deletable"
                                          placeholder="Edit your comment..."
                                          [ngModel]="comment.text"
                                          [attr.data-old-value]="comment.text"
                                          name="text"
                                          required
                                          #EditComment
                                          (input)="onCommentInput(EditComment, 500)"
                                          (focus)="changeTextAreaHeight(EditComment)"
                                ></textarea>
                                <button class="close-icon" type="reset"></button>
                              </div>
                            </form>
                          </div>
                        </div>

                        <button [disabled]="EditComment.value.length === 0"
                                (click)="updateComment(comment.id, EditComment.value)"
                                type="button"
                                class="btn btn-info pull-right comment-post-btn comment-btn">
                          Post
                        </button>
                      </form>
                    </div>
                  </div>
                </div>


                <div>
                  <ng-template [ngIf]="comment.comments.length > 0">
                    <a data-toggle="collapse" href="#root_subcomments_{{i}}" role="button"
                       aria-expanded="false" [attr.aria-controls]="'root_subcomments_' + i"
                       class="show-subcomments">
                      <div class="hidden">
                        View all {{comment.comments.length}} replies
                        <i class="arrow-down"></i>
                      </div>

                      <div class="shown">
                        Hide all {{comment.comments.length}} replies
                        <i class="arrow-up"></i>
                      </div>
                    </a>

                    <div class="collapse" id="root_subcomments_{{i}}">
                      <app-childcomment #childComment
                                        (update)="UpdateComments()"
                                        [comments]="comment.comments"
                                        [level]="level + 1"
                                        [root]="i"
                                        [user]="user"
                                        [ids]="returnID(comment.id)"
                                        [isAuthorized]="isAuthenticated()"></app-childcomment>

                    </div>
                  </ng-template>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
