dist: trusty
sudo: false

git:
   depth: 9999999

language: node_js
node_js:
  - '12.16.3'

addons:
    chrome: stable
  
cache:
  directories:
    - ./node_modules

install:
  - npm install

before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g @angular/cli
  
script:
  - npm run-script build --base-href $base_href
  - ng test --watch=false
  
deploy:
    provider: azure_web_apps
    verbose: true
    on:
        develop
