<ul class="nav-item">
    <div class = "notification">
        <div class = "notBtn" href = "#">
            <div *ngIf="notifications !== undefined">
                <div *ngIf="numberOfNotifications != 0">
                    <div class = "number">{{numberOfNotifications}}</div>
                </div>
                <i class="fas fa-bell" (click)="showOrHideNotificationBar(); $event.stopPropagation()"></i>
                <div id = "box" (click)="$event.stopPropagation()">
                    <div class = "display" tabindex="-1">
                        <div *ngIf="notifications.length == 0; then nothing else cont"></div>
                        <ng-template #nothing>
                            <div class = "nothing">
                                <i class="fas fa-child stick"></i>
                                <div class = "cent">You have no notifications at this time</div>
                            </div>
                        </ng-template>
                        <ng-template #cont>
                            <div class = "cont">
                                <div class="block">
                                    <p class="clear" (click)="deleteAll()">Clear all</p>
                                    <p class="seen" (click)="makeAllSeen()">Mark all as read</p>
                                </div>
                                <div *ngFor="let notification of notifications">
                                    <div *ngIf="notification.isSeen == false; then newBlock else oldBlock"></div>
                                    <ng-template #newBlock>
                                        <div class = "sec new" (click)="makeNotificationSeen(notification.id)">
                                            <i class="fa fa-times cross" (click)="deleteNotification(notification.id)"></i>
                                            <div class = "txt">{{notification.message}}</div>
                                            <button *ngIf="checkIfOpen(notification.action)" tabindex="-1" id="clickButton" class="btn btn-primary ml-0 button" (click)="navigateToBook(notification.bookId)">Open</button>
                                            <button *ngIf="checkIfRequest(notification.action)" tabindex="-1" id="clickButton" class="btn btn-primary ml-0 button" (click)="requestBook(notification.bookId)">Request</button>
                                            <button *ngIf="checkIfStartReading(notification.action)" tabindex="-1" id="clickButton" class="btn btn-primary ml-0 button" (click)="startReadingBook(notification.bookId)">Start Reading</button>
                                            <button *ngIf="checkIfMessage(notification.action)" tabindex="-1" id="clickButton" class="btn btn-primary ml-0 button" (click)="sendMessage(notification.receiverUserId)">Reply</button>
                                            <div class = "sub">{{formatDate(notification.date)}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template #oldBlock>
                                        <div class = "sec">
                                            <i class="fa fa-times cross" (click)="deleteNotification(notification.id)"></i>
                                            <div class = "txt">{{notification.message}}</div>
                                            <button *ngIf="checkIfOpen(notification.action)"  tabindex="-1" id="clickButton" class="btn btn-primary ml-0 button" (click)="navigateToBook(notification.bookId)">Open</button>
                                            <button *ngIf="checkIfRequest(notification.action)" tabindex="-1" id="clickButton" class="btn btn-primary ml-0 button" (click)="requestBook(notification.bookId)">Request</button>
                                            <button *ngIf="checkIfStartReading(notification.action)" tabindex="-1" id="clickButton" class="btn btn-primary ml-0 button" (click)="startReadingBook(notification.bookId)">Start Reading</button>
                                            <button *ngIf="checkIfMessage(notification.action)" tabindex="-1" id="clickButton" class="btn btn-primary ml-0 button" (click)="sendMessage(notification.receiverUserId)">Reply</button>
                                            <div class = "sub">{{formatDate(notification.date)}}</div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ul>
