#box::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
  border-radius: 5px
}

#box::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
  border-radius: 5px
}

#box::-webkit-scrollbar-thumb
{
	background-color: rgb(148, 145, 145);
	border: 2px solid rgb(148, 145, 145);
  border-radius: 5px
}

.icons{
  display: inline;
}

.notification{
  padding-top: 20px;
  padding-left: -40px !important;
  margin: -15px;
  margin-left: -40px !important;
  margin-right: 10px;
  position: relative;
}

.number{
  z-index: 99;
  height: 14pt;
  width: 14pt;
  background-color: #d63031;
  border-radius: 24px;
  color: white;
  text-align: center;
  position: absolute;
  font-size: 9pt;
  font-weight: 420;
  vertical-align: text-top !important;
  top: 16px;
  left: 14px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
}

.number:empty {
   display: none;
}

.fas {
  z-index: 2;
}

.notBtn{
  transition: 0.5s;
  cursor: pointer
}

.fas{
  font-size: 25pt;
  padding-bottom: 0px;
  color: white;
  position: relative;
}

#box{
  width: 400px;
  height: 0px;
  border-radius: 10px;
  transition: 0.5s;
  position: absolute;
  overflow-y: scroll;
  padding: 0px;
  left: -300px;
  margin-top: 5px !important;
  background-color: #F4F4F4;
  z-index: 5;
  -webkit-box-shadow: 10px 10px 23px 0px,rgb(184, 179, 179);
  -moz-box-shadow: 10px 10px 23px 0px rgb(184, 179, 179);
  box-shadow: 10px 10px 23px 0px rgb(184, 179, 179);
  cursor: context-menu;
}

.fas:hover {
  color: #d63031;
}

.content{
  z-index: 1;
  padding: 20px;
  color: rgb(184, 179, 179);
  vertical-align: middle;
  text-align: left;
}

.gry{
  z-index: 1;
  background-color: #F4F4F4;
}

.top{
  z-index: 1;
  color: gray;
  padding: 10px
}

.display{
  z-index: 1;
  position: relative;
}

.cont{
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
}

.cont:empty{
  display: none;
}

.stick{
  z-index: 1;
  text-align: center;  
  display: block;
  font-size: 50pt;
  padding-top: 70px;
  padding-left: 80px
}

.stick:hover{
  z-index: 0;
  color: rgb(143, 138, 138);
}

.cent{
  z-index: 1;
  text-align: center;
  display: block;
}

.sec{
  z-index: 1;
  padding: 25px 10px;
  background-color: #F4F4F4;
  transition: 0.5s;
}

.txt{
  word-break: break-all;
  vertical-align: top;
  font-size: 1rem;
  padding: 5px 10px 0px 10px;
}

.sub{
  z-index: 1;
  font-size: 1rem;
  color: grey;
  padding: 5px 10px 0px 10px;
}

.new{
  background-color: rgb(208, 208, 247);
}

.sec:hover {
  z-index: 1;
  background-color:rgb(156, 151, 151);
}

.clear {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 4%;
  width: 35%;
}

.seen {
  text-decoration: underline;
  cursor: pointer;
  text-align: right;
  margin-top: 3%;
  margin-left: 23%;
  width: 35%;
}

.block {
  font-size: 11pt;
  width: 100%;
  display: inline-flex;
}

.cross{
  z-index: 5;
  cursor: pointer;
  text-align: right;
  margin-left: 95%;
}

.button {
  margin-left: 15px !important;
}