<div class="container my-5 py-5 z-depth-1">



  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">



    <div class="row d-flex justify-content-center">


      <div class="col-md-6">


        <form class="text-center" #loginFrom="ngForm">

          <p class="h4 mb-4">Log in</p>


          <input type="email" [email]="true" required ngModel name="Email"  id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">


          <input type="password" id="defaultLoginFormPassword" required  [(ngModel)]='password' name="Password"  class="form-control mb-4" placeholder="Password">


          <p *ngIf="Isinvalid" class="text-danger"> Specified username and/or password are incorrect. Please try again.</p>
          <div class="d-flex justify-content-around">
            <div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" ngModel name="RememberMe" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
              </div>
            </div>
            <div>

              <a [routerLink]="['/password/forgot']">{{'components.signIn.forgot-password'|translate}}</a>
            </div>
          </div>


          <button [disabled]="loginFrom.invalid "  class="btn btn-info btn-block my-4"  (click)="singIn(loginFrom)"  type="submit">Log in</button>


          <p>Not a member?
            <a class="text-primary" (click)="navigateToSingUp()">Register</a>
          </p>




        </form>


      </div>


    </div>



  </section>



</div>
