<div class="container my-5 py-5 z-depth-1">
 
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

    <div class="row d-flex justify-content-center">

      <div class="col-md-6 text-center">

        <h4 class="font-weight-bold mb-4">{{'components.password.forgot-title'|translate}}</h4>
      <form [formGroup]="forgotPasswordForm" autocomplete="off">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{'components.password.email'|translate}}</mat-label>
          <input formControlName="Email" matInput type="text">
          <mat-error *ngIf="forgotPasswordForm.get('Email').errors?.required">
            {{'components.password.input-required-email'|translate}} </mat-error>
          <mat-error
            *ngIf="forgotPasswordForm.get('Email').errors?.minlength || forgotPasswordForm.get('Email').errors?.maxlength">
            {{'components.password.input-email-length'|translate}}</mat-error>
        </mat-form-field>
      </p>
        <button class="btn btn-md blue-gradient m-0 px-3 py-2 z-depth-0 waves-effect"mat-raised-button color="primary" type="submit"
                (click)="onSubmit()">{{'components.password.reset'|translate}}</button>
    </form>
       </div>
    </div>
  </section>
</div>
