.intro-header {
  height: unset !important;
}
.top-nav-collapse {
  background-color: #78909c !important;
}
.view {
  height: 100vh !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}
h1 {
  letter-spacing: 8px;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}
.home-button{
  color:white;
  border:white solid;
  margin: 20px;
  width: 250px;
  height: 40px;
  font: 20px Roboto;
}

.pt-5, .py-5 {
   padding-top: 0rem !important;
}

.aphorismStyle{
  font-family: 'Times New Roman';
  font-size: 20px;
  color: white;
  margin-bottom: 100px;
}
