<section class="backdrop">

  <form
    [formGroup]="editUserForm"
    #ngForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="form-popup text-center border border-light p-5">
    <p class="h2 mb-4 title">Profile Edit</p>

    <!--First Name-->
    <div>
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">First name:<span class="asterisk"> *</span></p>
        </div>
        <div class="col-4">
          <input
            formControlName="firstName"
            type="text"
            class="form-control"
            [ngClass]="{
            'is-invalid': submitted && editUserForm.controls.firstName.errors
          }"/>
        </div>
      </div>
    </div>

    <!--Last Name-->
    <div class="form-row mb-4">
      <div class="col-3">
        <p class="input-label">Last name:<span class="asterisk"> *</span></p>
      </div>
      <div class="col-4">
        <input
          formControlName="lastName"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && editUserForm.controls.lastName.errors
          }"
        />
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col-3">
        <p class="input-label">Birthday:</p>
      </div>
      <div class="col-4">
        <!--<mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="birthDate" [matDatepicker]="birthDate">
          <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
          <mat-datepicker #birthDate startView="year" [startAt]="user.birthDate"></mat-datepicker>
        </mat-form-field>-->
        <mat-form-field color="accent">
          <mat-label>Inherited calendar color</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col-3">
        <p class="input-label">Location :<span class="asterisk"> *</span></p>
      </div>
      <div class="col-4">
        <mat-select class="form-control select-dropdown"
                    placeholder="{{user.userLocation.location.city}} {{user.userLocation.location.officeName}}{{user.userLocation.location.street}}">
          <mat-option *ngFor="let location of locations" [value]="location.id" [matTooltip]="location.city + ' ' + location.officeName + ', ' + location.street" matTooltipPosition="right">{{location.city}}
            {{location.officeName}}, {{location.street}}</mat-option>
        </mat-select>
      </div>
    </div>

    <!-- Edit user button -->
    <button class="btn btn-info" type="submit" name="submit">
      Save
    </button>
    <input type="button" class="btn" (click)="cancel()" value="Cancel" />
  </form>
</section>
