<nav aria-label="Page navigation d-flex ">
  <ul class="pagination pg-blue justify-content-center mt-2 mb-0 p-0">

    <li class="page-item" [ngClass]="{disabled: selectedPage == 1}">
      <a class="page-link" (click)="selectPage(1)">
        <span class="large-screen">{{'components.requests.first'|translate}}</span>
        <span class="small-screen"><<</span>
      </a>
    </li>
    <li class="page-item" [ngClass]="{disabled: selectedPage == 1}">
      <a class="page-link" (click)="selectPage(selectedPage-1)">
        <span class="large-screen">{{'components.requests.previous'|translate}}</span>
        <span class="small-screen"><</span>
      </a>
    </li>

    <ng-container *ngFor="let page of pageList let i = index">
      <li class="page-item" [ngClass]="{active: page == selectedPage}">
        <a class="page-link" (click)="selectPage(page)">{{page}}</a>
      </li>
    </ng-container>

    <li class="page-item" [ngClass]="{disabled: selectedPage == total}">
      <a class="page-link" (click)="selectPage(selectedPage + 1)">
        <span class="large-screen">{{'components.requests.next'|translate}}</span>
        <span class="small-screen">></span>

      </a>
    </li>
    <li class="page-item" [ngClass]="{disabled: selectedPage == total}">
      <a class="page-link" (click)="selectPage(total)">
        <span class="large-screen">{{'components.requests.last'|translate}}</span>
        <span class="small-screen"> >> </span>
      </a>
    </li>
  </ul>
