
  <section class="p-5 my-md-5 text-center">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-body">
              <form class="text-center" style="color: #757575;" [formGroup]="confirmPasswordForm" autocomplete="off">
                <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">{{'components.password.reset-title'|translate}}</h3>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'components.password.password'|translate}}</mat-label>
                    <input formControlName="Password" matInput [type]="hide ? 'password' : 'text'">
          
                    <mat-error *ngIf="confirmPasswordForm.get('Password').errors?.required">
                      {{'components.password.password-required-error'|translate}} </mat-error>
                    <mat-error
                      *ngIf="confirmPasswordForm.get('Password').errors?.minlength || confirmPasswordForm.get('Password').errors?.maxlength">
                      {{'components.password.input-password-length'|translate}}</mat-error>
          
                    <button class="btn btn-outline-primary btn-rounded my-4 waves-effect"  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                            [attr.aria-pressed]="'hide'">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
          
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'components.password.confirm-password'|translate}}</mat-label>
                    <input formControlName="ConfirmPassword" matInput [type]="hide ? 'password' : 'text'">
          
                    <mat-error *ngIf="confirmPasswordForm.get('ConfirmPassword').errors?.required">
                      {{'components.password.password-required-error'|translate}} </mat-error>
                    <mat-error
                      *ngIf="confirmPasswordForm.get('ConfirmPassword').errors?.minlength || confirmPasswordForm.get('ConfirmPassword').errors?.maxlength">
                      {{'components.password.input-password-length'|translate}}</mat-error>
          
                    <button class="btn btn-outline-primary btn-rounded my-4 waves-effect"  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                            [attr.aria-pressed]="'hide'">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
          
                  </mat-form-field>
                </p>
          
                <div class="button">
                  <button class="btn btn-outline-primary btn-rounded my-4 waves-effect" color="primary" type="submit"
                  (click)="onSubmit()">{{'components.password.reset'|translate}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </section>

