.mail
{
    padding-bottom: 10 !important;
    margin-bottom: 0 !important;
}

.password
{
    padding-bottom: 10 !important;
    margin-bottom: 0 !important;
    margin-top: 5% !important;
    padding-top: 10 !important;
}
