.mail
{
    padding-bottom: 10 !important;
    margin-bottom: 0 !important;
}

.password
{
    padding-bottom: 10 !important;
    margin-bottom: 0 !important;
    margin-top: 5% !important;
    padding-top: 8 !important;
}

.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}

#block_container {
    display: flex;
    justify-content: center;
}

.flag
{
    padding-bottom: 10 !important;
    margin-bottom: 0 !important;
    margin-top: 5% !important;
    padding-top: 8 !important;
}

.eye
{
    background-color: white;
}

p{
    color: red;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12.8px;
    text-align: left;
    padding-bottom: 10 !important;
    margin-bottom: 0 !important;
}

.fields
{
    padding-top: 4% !important;
}

#hidden
{
    display:none;
}