<ng-template appRef>

</ng-template>
<table class="table container">
  <tbody>
  <tr>
    <td>First Name</td>
    <td>{{user.firstName}}</td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td>{{user.lastName}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{user.email}}</td>
  </tr>
  <tr>
    <td>Birthday</td>
    <td>{{user.birthDate | date }}</td>
  </tr>
  <tr>
    <td>Location</td>
    <td class ="location"><span>{{user.userLocation.location.city}}</span><span>{{user.userLocation.location.street}}</span>
      <span>{{user.userLocation.location.rooms}}</span>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="showEditForm(user)" class="btn peach-gradient">Edit</button>
    </td>
    <td></td>
  </tr>

  </tbody>
</table>
