<ng-template appRef>

</ng-template>
<table class="table table-bordered" [hidden]="isEditing">
    <tbody>
        <tr class="table-primary">
            <td scope="row">First Name</td>
            <td>{{user.firstName}}</td>
        </tr>
        <tr>
            <td scope="row">Last Name</td>
            <td>{{user.lastName}}</td>
        </tr>
        <tr class="table-primary">
            <td scope="row">Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td scope="row">Birthday</td>
            <td>{{user.birthDate | date }}</td>
        </tr>
        <tr class="table-primary" *ngIf="user?.userLocation?.location">
            <td scope="row">Location</td>
            <td class="location"><span>{{user.userLocation.location.city}}</span><span>{{user.userLocation.location.street}}</span>
                <span>{{user.userLocation.location.rooms}}</span>
            </td>
        </tr>
        <tr>
            <td scope="row">Home Location</td>
            <td class="location" *ngIf="locationHome != null">
                <span>{{ locationHome.city }}</span><span>{{ locationHome.street }}</span>
            </td>
            <td class="" *ngIf="locationHome == null">
                <span>No home location set. Go to edit to set your home location.</span>
            </td>
        </tr>
        <tr class="table-primary">
            <td scope="row">Receive e-mails</td>
            <td *ngIf="user.isEmailAllowed">Yes</td>
            <td *ngIf="!user.isEmailAllowed">No</td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button (click)="showEditForm(user)" class="btn blue-gradient float-right">Edit</button>
            </td>
        </tr>

    </tbody>
</table>