<div class="container my-4">
      
    <ng-template [ngIf]="foundBooks?.page?.length==0" [ngIfElse]="booksExist">
      <button class="btn" ><a [routerLink]="['/book']">Back</a></button>
      <div class="container my-5 py-5 z-depth-1">
        <section class="text-center px-md-5 mx-md-5 dark-grey-text">
          <h3 class="font-weight-bold">No books found.</h3>
        </section>
  
      </div>
    </ng-template>

    <ng-template #booksExist>
      <button class="btn" ><a [routerLink]="['/book']">Back</a></button>
        <div class="card m-3" *ngFor="let book of foundBooks?.page">
          <div class="row no-gutters">
            <div class="col-auto">
              <div >
        
                <img src="{{book.imageUrl}}" appDefaultImage default="https://images.squarespace-cdn.com/content/582caad246c3c4568a7e562e/1519054615446-T9CP1E3U87P6M709L6E3/booktitle.jpg?content-type=image%2Fjpeg" class="rounded float-left" height="240px" width="200px">
              </div>
            </div>
            <div class="col m-2" >
              <div class="card-block px-2">
                <h4 class="card-title mb-0"><strong >{{book.title}}</strong></h4>
                <h5 class="card-title mb-0">{{book.author.fullName}}</h5> 
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                <button role="button" class="btn blue-gradient ml-0" (click)="autoFill(book.id)" >AutoFill</button>
  
              </div>
            </div>
          </div>
        </div>
    </ng-template>
                  
    <app-pagination *ngIf="foundBooks?.page && foundBooks?.totalCount > 8" [arraySize]="foundBooks.totalCount" [pageSize]="queryParams.pageSize"
                    [selectedPage]="queryParams.page" (onPageChange)="pageChanged($event)">
    </app-pagination>
  </div>
  