
<form class="text-center" #Form="ngForm">
     <div class="text-center">
          <p> Are you sure you want to disable email notifications?</p>
     </div>
     <div class="form-row mb-4 fields">
          <div class="col">
                <button type="button" class=" button-left btn btn-info my-4 btn-block" (click)="Yes()">Yes</button>
          </div>
          <div class="col">
               <button type="button" class="button-right btn btn-info my-4 btn-block" (click)="No()">No</button>
          </div>    
     </div>
</form>
    
    

