.md-form input::placeholder {
    color: white;
}

.avatar {
      padding: 0px;
      margin: 0px;
}

#logo {
  margin-bottom: 4px;
}

.search-bar
{
  z-index: 9;
  margin-top: 1.5%;
}

.nav-block 
{
  outline: none;
}
