<section class="backdrop">

  <form
  [formGroup]="editBookForm"
  #ngForm="ngForm"
  (ngSubmit)="onSubmit()"
  class="form-popup text-center border border-light p-5"
>
  <p class="h2 mb-4 title">Edit book</p>
  <div>
    <div class="form-row mb-4">
      <div class="col-3">
        <p class="input-label">Book title:<span class="asterisk"> *</span></p>
      </div>
      <div class="col-4">
        <!-- Book title -->
        <input
          formControlName="title"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && editBookForm.controls.title.errors
          }"
        />
        <div
          *ngIf="submitted && editBookForm.controls.title.errors"
          class="invalid-feedback"
        >
          <div *ngIf="editBookForm.controls.title.errors.required">
            Field is required.
          </div>
        </div>
      </div>
    </div>

    <!-- Author -->
    <div class="form-row mb-4">
      <div class="col-3">
        <p class="input-label">Author:<span class="asterisk"> *</span></p>
      </div>
      <div class="col-4">
        <input
          formControlName="author"
          #authorSearch
          type="text"
          class="form-control"
          [matAutocomplete]="auto"
          [ngClass]="{
            'is-invalid':
              submitted &&
              !selectedAuthors.length &&
              !editBookForm.controls.author.value
          }"
          (focus)="authorFocused=true"
          (blur)="authorFocused=false"
        />
        <div
          *ngIf="
            submitted &&
            !selectedAuthors.length &&
            !editBookForm.controls.author.value
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              !selectedAuthors.length && !editBookForm.controls.author.value
            "
          >
            Field is required.
          </div>
        </div>
        <div
          *ngIf="editBookForm.controls.author.value && !authorFocused"
          class="new-author-warning"
        >
          Entered author is saved as 'not confirmed'
        </div>
      </div>
      <div class="col">
        <div>
          <ul class="list-group authors-list list-group-horizontal-sm">
            <li
              *ngFor="let author of selectedAuthors"
              class="list-group-item"
            >
              <span>{{
                author.firstName +
                  " " +
                  author.middleName +
                  "  " +
                  author.lastName
              }}</span>
              <span
                type="button"
                class="close"
                aria-label="Close"
                (click)="onDeleteAuthor(author)"
              >
                <span aria-hidden="true">×</span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onAuthorSelect($event); authorSearch.value = ''"
    >
      <mat-option
        *ngFor="
          let author of authors
            | contentFilter
              : authorSearch.value
              : ['firstName', 'lastName', 'middleName']
        "
        [value]="author"
      >
        {{
          author.firstName + " " + author.middleName + " " + author.lastName
        }}
      </mat-option>
    </mat-autocomplete>

    <!-- Category -->
    <div class="form-row mb-4">
      <div class="col-3">
        <p class="input-label">Category:<span class="asterisk"> *</span></p>
      </div>
      <!-- Select multiple genres -->
      <div class="col-4">
        <mat-select
          formControlName="genres"
          class="form-control"
          multiple
          placeholder="Select"
          [(ngModel)]="selectedGenres"
          [ngClass]="{
            'is-invalid': submitted && editBookForm.controls.genres.errors
          }"
        >
          <mat-select-trigger>
            {{
              editBookForm.get("genres").value
                ? getGenreById(editBookForm.get("genres").value[0])
                : ""
            }}
            <span
              *ngIf="editBookForm.get('genres').value?.length > 1"
              class="additional-selection"
            >
              (+{{ editBookForm.get("genres").value.length - 1 }}
              {{
                editBookForm.get("genres").value.length === 2
                  ? "other"
                  : "others"
              }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let genre of genres" [value]="genre.id">{{
            genre.name
          }}</mat-option>
        </mat-select>
        <div
          *ngIf="submitted && editBookForm.controls.genres.errors"
          class="invalid-feedback"
        >
          <div *ngIf="editBookForm.controls.genres.errors.required">
            Field is required.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col-3">
        <p class="input-label">Publishing house:</p>
      </div>
      <div class="col-4">
        <input formControlName="publisher" type="text" class="form-control" />
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col-3">
        <p class="input-label">Notice:</p>
      </div>
      <div class="col-4">
        <textarea
          formControlName="description"
          type="text"
          class="form-control"
          placeholder=""
        ></textarea>
      </div>
    </div>

    <div class="form-row mb-4">
      <button type="button" class="btn btn-info" (click)="fileInput.click()">
        Edit image
      </button>
    </div>

    <div class="form-row mb-4">
      <div class="col-3">
        <p *ngIf="isFileExists()" class="input-label">Image:</p>
        <p *ngIf="selectedFile" class="input-label">New image:</p>
      </div>
      <div class="file-upload-wrapper">
        <input
          #fileInput
          style="display: none;"
          type="file"
          accept="image/png, image/jpeg"
          (change)="onFileSelected($event)"
        />
      </div>
      <div class="col-4">
        <span *ngIf="isFileExists()">{{ book.imagePath.substr(-15, 15) }}</span>
        <div *ngIf="selectedFile">
          <span>{{ selectedFile.name }} ({{ selectedFile.size / 1000 }}kb)</span>
          <span
            *ngIf="selectedFile"
            type="button"
            class="close"
            aria-label="Close"
            (click)="onFileClear()"
          >
            <span aria-hidden="true">×</span>
          </span>
        </div>
      </div>
    </div>
  </div>

    <!-- Add book button -->
    <button class="btn btn-info" type="submit" name="submit">
      Save
    </button>
    <input type="button" class="btn" (click)="cancel()" value="Cancel" />
  </form>
</section>