.book-name{
  font-size: 22px;
  word-wrap: break-word;
}

.read-by-margin {
  margin-top: 3px;
}

.borderless td, .borderless th {
  border: none;
  margin: 0;
  padding: 10px;
}

td {
  padding-left: 50px;
}

table {
  table-layout: fixed;
}

.badge{
display: initial;
}


.heartbox
{
  position: absolute;
  z-index: 1;
  top:0px;
  right:0px;
  outline:none; 
}

.heart 
{
  color:black !important;
  border-color: black !important;
}