.book-name {
    font-size: 22px;
    word-wrap: break-word;
}

.read-by-margin {
    margin-top: 3px;
}

.scoreHigh {
    background-color: #00c851;
}

.scoreMedium {
    background-color: #fad600;
}

.scoreLow {
    background-color: #f44336;
}

.counter-ai-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    font-weight: 900;
}

.btnCustom {
    display: inline-block;
    padding: 6px 12px;
    max-height: 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: context-menu;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btnCustom:hover,
.btnCustom:focus,
.btnCustom.focus {
    text-decoration: none;
    cursor: context-menu;
}

.btnCustom:active,
.btnCustom.active {
    background-image: none;
}

.btnCustom.disabled,
.btnCustom[disabled],
fieldset[disabled] .btnCustom {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
}

a.btnCustom.disabled,
fieldset[disabled] a.btnCustom {
    pointer-events: none;
}

.counter-ai-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: white;
}

.ai-label {
    position: relative;
    text-align: center;
}

.counterbox {
    position: absolute;
    z-index: 1;
    top: 1.2px;
    right: 14px;
    outline: none;
}

.heartcounter {
    color: #f44336 !important;
    font-size: 11px;
    margin-left: 0.1px;
}

.borderless td,
.borderless th {
    border: none;
    margin: 0;
    padding: 10px;
}

td {
    padding-left: 50px;
}

table {
    table-layout: fixed;
}

.badge {
    display: initial;
}

.heartbox {
    position: absolute;
    z-index: 1;
    top: -8px;
    right: 0px;
    outline: none;
}

.emailbutton {
    outline: none;
}

.heart {
    color: black !important;
    border-color: black !important;
}

.fontsize {
    font-size: 16px;
}

table tr th {
    width: 30%;
}

table tr td {
    width: 70%;
}

.min-width {
    min-width: 200px;
}

.contact {
    text-decoration: underline;
    cursor: pointer !important;
}

.bluetext {
    color: rgb(6, 173, 250);
}