<ng-template appRef>
  <!--Add Form-->
</ng-template>
<div class="container my-5 py-5 z-depth-1">

    <section class="text-center">

      <div class="row">
        <div class="col-lg-4">

            <div class="carousel-inner text-center text-md-left" role="listbox">
              <div class="size carousel-item active zoom">
                <div class="mask flex-center waves-effect waves-light">
                  <div *ngIf="book?.imagePath; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                    <img src="{{imagePath}}"
                    class="rounded float-left img-fluid">
                  </ng-template>
                  <ng-template #elseBlock>
                    <img src="https://images.squarespace-cdn.com/content/582caad246c3c4568a7e562e/1519054615446-T9CP1E3U87P6M709L6E3/booktitle.jpg?content-type=image%2Fjpeg"
                    class="rounded float-left img-fluid">
                  </ng-template>
                </div>
              </div>
            </div>
              <div class="text-center text-md-left text-md-right mt-2">
                <span [ngSwitch]="bookStatus">
                  <ng-template ngSwitchCase="1"><button [hidden]="!isAuthenticated()" class="btn purple-gradient btn-rounded btn-lg btn-block" (click)="requestBook()">
                    <i class="mr-2" aria-hidden="true"></i> {{ 'components.book.request' | translate }}</button></ng-template>
                  <ng-template ngSwitchCase="2">
                    <button [hidden]="!isRequester" class="mt-0 btn purple-gradient btn-rounded btn-lg btn-block" (click)="startReading()">
                    <i class="mr-2" aria-hidden="true"></i> Start reading</button>
                    <button [hidden]="!isRequester" class="btn purple-gradient btn-rounded btn-lg btn-block" (click)="cancelRequest()">
                      <i class="mr-2" aria-hidden="true"></i> Cancel request</button>
                  </ng-template>
                  <ng-template ngSwitchCase="3">
                    <button [hidden]="!isRequester" class="btn purple-gradient btn-rounded btn-lg btn-block"(click)="makeAvailable()" >
                    <i class="mr-2" aria-hidden="true"></i> Make available</button>
                  </ng-template>
                </span>
            </div>
        </div>

        <div class="col-lg-7 text-center text-md-left">

          <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-text mb-1 ml-xl-0 ml-4" style="font-size: 24px;">{{ book?.name }}</h2>
        <br>

          <div class="font-weight-normal">

            <p class="ml-xl-0 ml-4">
              <ng-template [ngIf]="book?.authors.length==1" [ngIfElse]="manyAuthors"><strong>Author: </strong></ng-template>
              <ng-template #manyAuthors><strong>Authors: </strong></ng-template>
              <span *ngFor="let author of book?.authors; let i = index"><ng-template [ngIf]="i!=0">, </ng-template>{{author?.firstName}} {{author?.lastName}}</span></p>
            <p class="ml-xl-0 ml-4">
              <ng-template [ngIf]="book?.genres.length==1" [ngIfElse]="manyGenres"><strong>Category: </strong></ng-template>
              <ng-template #manyGenres><strong>Categories: </strong></ng-template>
              <span *ngFor="let genre of book?.genres; let i = index"><ng-template [ngIf]="i!=0">, </ng-template>{{ genre?.name }}</span></p>
              <p class="ml-xl-0 ml-4">
                <strong>Location: </strong> {{ book?.location?.location?.city + " " +  book?.location?.location?.officeName}} </p>
              <p class="ml-xl-0 ml-4">
                <strong *ngIf="currentOwner">Current owner: </strong> {{ currentOwner?.firstName + " " + currentOwner?.lastName }} </p>
              <p class="ml-xl-0 ml-4">
                <strong *ngIf="firstOwner">Registered by: </strong> {{ firstOwner?.firstName + " " + firstOwner?.lastName }} </p>
              <p class="ml-xl-0 ml-4" *ngIf="userWhoRequested != null">
                <strong *ngIf="userWhoRequested">Requested by: </strong> {{ userWhoRequested?.firstName + " " + userWhoRequested?.lastName }} </p>
            <p class="ml-xl-0 ml-4">
              <strong>{{ 'components.book.publisher' | translate }}: </strong> {{ book?.publisher }} </p>
            <div class="ml-xl-0 ml-4">
              <strong>Status: </strong>
              <span [ngSwitch]="bookStatus">
                <ng-template ngSwitchCase="1"><span class="badge badge-success product mb-4 ml-2">Available</span></ng-template>
                <ng-template ngSwitchCase="2"><span class="badge badge-info product mb-4 ml-2">Requested</span></ng-template>
                <ng-template ngSwitchCase="3"><span class="badge badge-info product mb-4 ml-2">Reading</span></ng-template>
              </span>
            </div>
            <p [hidden]="!book?.notice" class="ml-xl-0 ml-4"><strong>Notice: </strong> {{ book?.notice }} </p>

          </div>

        </div>
        <div class="col-lg-1">
          <div class=" row d-flex">
            <button *ngIf="isAdmin() || isBookOwner" class="btn btn-md btn-md px-3 m-1" (click)="showEditForm(book)"> <i
                class="far fa-edit"></i></button>
          </div>
        </div>
      </div>

    </section>


  </div>
