
<nav class="navbar navbar-expand-lg navbar-dark indigo">

  <div class="container">

    <a class="navbar-brand py-0"><i class="fab ">Bookcrossing</i></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="basicExampleNav">


      <ul class="navbar-nav mr-auto text-uppercase">

        <!--add new links here  -->
     <!--   <li class="nav-item">
          <a class="nav-link" routerLink="home">Features</a>
        </li>-->



      </ul>




    </div>


  </div>

</nav>


<router-outlet></router-outlet>


<footer class="page-footer font-small special-color-dark pt-4">

  <div class="container">

  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.softserveinc.com/"> SoftServe.com</a>
  </div>
</footer>

