<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand">Book Crossing</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="page-footer font-small special-color-dark pt-4">

  <div class="container">

  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.softserveinc.com/"> SoftServe.com</a>
  </div>
</footer>

