<div class="container">
  <ng-container *ngFor="let item of settings;">
    <section>
      <div class="card card-cascade narrower mt-3">
        <p class="h2 mt-2 mb-1 title text-center">{{ item.name | translate}}</p>
        <div class="card-body card-body-cascade pb-0">
          <div class="description">
            <p>{{item?.description | translate}}</p>
          </div>
          <div class="text-right">
            <span class="h2-responsive mr-4 text-center align-middle"style="font-family: 'Orbitron', sans-serif;">{{
              item?.value
            }}</span>
            <button class="btn btn-default blue-gradient" (click)="changeTimeSpan(item)">{{'components.admin.timespans.change' | translate}}</button>
            <button class="btn btn-small btn-danger" (click)="resetTimeSpan(item)">{{'components.admin.timespans.reset' | translate}}</button>    
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</div>
