<footer class="page-footer font-small gradient-background">

  <div class="container">
  <div class="row">
    <div class="col-5">
      <div class="text-center py-3">Bookcrossing
        <br>
        <a href="https://www.softserveinc.com/"> SoftServe.com </a>
      </div>
    </div>
    <div class="col-3">
      <br>
      <a mat-button class="contacts" [routerLink]="['contacts']"> Contacts </a>
    </div>
    <div class="col-4 text-white">
      <br>
         <app-languages></app-languages>
    </div>
  </div>
</div>
</footer>
