<ng-template appRef>
  <!--Add Form-->
</ng-template>

<div class="container my-5">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card card-list">
          <div class="card-header white d-flex  align-items-center py-3">

            <p class="h5-responsive font-weight-bold mb-0 mr-2">
              Authors
            </p>

            <!-- header search -->
            <div class="col">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                  [(ngModel)]="searchText" (keyup.enter)="search()">
                <div class="input-group-append">
                  <button class="input-group-text btn-light" (click)="search()">
                    <i class="fas fa-search text-grey" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- header buttons -->
            <ul class="list-unstyled d-flex align-items-center mb-1">
              <li>
                <button class="btn btn-md px-3 my-0 mr-0">
                  <i class="fas fa-plus"></i>
                  <span class="button-label">Merge Authors</span>
                </button>
              </li>
              <li>
                <button class="btn btn-md px-3 my-0 mr-0" (click)="isReportTableToggled = !isReportTableToggled">
                  <i class="fas fa-exclamation-triangle"></i>
                  <span class="button-label">Show Reports</span>
                </button>
              </li>
            </ul>
          </div>

          <div class="container" *ngIf="isReportTableToggled">
            <app-reports></app-reports>
          </div>

          <!-- Table -->
          <div class="card-body">
            <table class="table table-hover mb-0">

              <thead>
                <tr>
                  <th scope="col" (click)="changeSort('id')"
                    [ngClass]="{'active-header': queryParams.orderByField == 'id'}">
                      # 
                    <i class="fas fa-sort pl-1"></i>
                  </th>
                  <th scope="col" (click)="changeSort('firstName')"
                    [ngClass]="{'active-header': queryParams.orderByField == 'firstName'}">
                      First Name 
                    <i class="fas fa-sort pl-1"></i>
                  </th>
                  <th scope="col" (click)="changeSort('lastName')"
                    [ngClass]="{'active-header': queryParams.orderByField == 'lastName'}">
                      Last Name 
                    <i class="fas fa-sort pl-1"></i>
                  </th>
                  <th scope="col" (click)="changeSort('middlename')"
                    [ngClass]="{'active-header': queryParams.orderByField == 'middlename'}">
                      Middle Name
                    <i class="fas fa-sort pl-1"></i>
                  </th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let author of authors let i = index;">
                  <tr id={{i}}>
                    <th scope="row">
                      <a class="text-primary">{{author.id}}</a>
                    </th>
                    <td>{{author.firstName}}</td>
                    <td>{{author.lastName}}</td>
                    <td>{{author.middleName}}</td>
                    <td>
                      <div class=" row d-flex">
                        <button class="btn btn-md btn-md px-3 m-1" (click)=showEditForm(author,i)> <i
                            class="far fa-edit"></i></button>
                      </div>
                    </td>
                </ng-container>
              </tbody>
            </table>

            <app-pagination *ngIf="authors && authors.length > 0" [arraySize]="totalSize"
              [pageSize]="queryParams.pageSize" [selectedPage]="queryParams.page" (onPageChange)="pageChanged($event)">
            </app-pagination>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>