<ng-template appRef></ng-template>
<div class="container my-5">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card card-list">
          <div class="card-header white d-flex  align-items-center py-3">

            <p class="h5-responsive font-weight-bold mb-0 mr-2">Authors</p>

            <!-- header search -->
            <div class="col">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="search">
                <div class="input-group-append">
                  <button class="input-group-text btn-light">
                    <i class="fas fa-search text-grey" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            
            <!-- header buttons -->
            <ul class="list-unstyled d-flex align-items-center mb-1">
              <li>
                <button class="btn btn-md px-3 my-0 mr-0" (click)="showAddForm()">
                  <i class="fas fa-plus"></i>
                  <span class="button-label">Add Author</span>
                </button>
              </li>
              <li>
                <button class="btn btn-md px-3 my-0 mr-0"  (click)="toggleReportTable()">
                  <i class="fas fa-exclamation-triangle"></i>                  
                  <span class="button-label">Show Reports</span> 
                </button>
              </li>
              <li>
                <button class="btn btn-md px-3 my-0 mr-0">
                  <i class="fas fa-clipboard-list"></i> 
                  <span class="button-label">Show logs</span>
                </button>
              </li>
            </ul>
          </div>

          <div class="container" *ngIf="isReportTableToggled">
            <app-reports></app-reports>
          </div>


          <!-- Table -->
          <div class="card-body">
            <table class="table table-hover mb-0">

              <thead>
                <tr>
                  <th scope="col" 
                    [ngClass]="{'active-head': searchField=='id'}" 
                    (click)="searchField = 'id'">#</th>
                  <th scope="col" 
                    class="text-justify"
                    [ngClass]="{'active-head': searchField=='firstName'}"
                    (click)="searchField = 'firstName'">Firstname</th>
                  <th scope="col" 
                    [ngClass]="{'active-head': searchField=='lastName'}"
                    (click)="searchField = 'lastName'">Lastname</th>
                  <th scope="col" 
                    [ngClass]="{'active-head': searchField=='middleName'}"
                    (click)="searchField = 'middleName'">Middlename</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let author of authors | filter:search:searchField; let i = index ">
                  <tr id={{i}}>
                    <th scope="row">
                      <a class="text-primary">{{author.id}}</a>
                    </th>
                    <td>{{author.firstName}}</td>
                    <td>{{author.lastName}}</td>
                    <td>{{author.middleName}}</td>                    
                    <!-- Actions -->
                    <td >
                      <div class=" row d-flex">
                        <button class="btn btn-md btn-md px-3 m-1" (click)=showEditForm(author,i)> <i
                            class="far fa-edit"></i></button>
                        <button class="btn btn-md btn-outline-danger z-depth-0 waves-effect px-3 m-1" (click)="deleteAuthor(author)"><i
                            class="fas fa-ban"></i></button>
                      </div>
                    </td>
                </ng-container>                
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>

  </section>
</div>