.user-info > .row:not(:last-child) {
  border-bottom: 2px solid #eee;
}

.table {
  width: 99%;
  thead,
  tbody tr {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
  }
  thead th {
    font-size: 0.95rem;
    font-weight: 500;
    border-top-width: 0;
    border-bottom-width: 1px;
    vertical-align: bottom;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  }
  tbody {
    td {
      font-size: 1rem;
      display: flex;
      align-items: center;
    }
  }
}

.book-title-cell {
  max-width: 14rem;
}
