<div class="container user-info mt-3 mb-5">
  <h1 class="mb-3 text-center font-weight-bold">{{ "components.admin.user-view.user-details" | translate }}</h1>
  <span *ngIf="user?.isDeleted" class="d-block w-100 text-danger h4 mb-5 text-center">
    {{ "components.admin.user-view.user-deleted" | translate }}</span>
  <div class="row mb-4">
    <div class="col-5">{{ "components.admin.user-view.first-name" | translate }}</div>
    <div class="col">
      {{ user?.firstName }}
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-5">{{ "components.admin.user-view.last-name" | translate }}</div>
    <div class="col">
      {{ user?.lastName }}
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-5">{{ "components.admin.user-view.email" | translate }}</div>
    <div class="col">
      {{ user?.email }}
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-5">{{ "components.admin.user-view.birthday" | translate }}</div>
    <div class="col">
      {{ user?.birthDate | date }}
    </div>
  </div>
  <ng-container *ngIf="user?.userLocation?.location">
    <div class="row mb-4">
      <div class="col-5">{{ "components.admin.user-view.location" | translate }}</div>
      <div class="col">
        {{
          user.userLocation.location.city +
            " " +
            user.userLocation.location.street +
            " " +
            user.userLocation.location.officeName
        }}
      </div>
    </div>
    <div class="row">
      <div class="col-5">{{ "components.admin.user-view.room-number" | translate }}</div>
      <div class="col">
        {{ user.userLocation.roomNumber }}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="user && !user?.isDeleted && books && books.length > 0">
    <h3 class="text-center font-weight-bold mt-5">{{ "components.admin.user-view.user-books" | translate }}</h3>
    <table class="table">
      <thead class="row">
        <th class="col-5">{{ "components.admin.user-view.name" | translate }}</th>
        <th class="col-2">{{ "components.admin.user-view.state" | translate }}</th>
        <th class="col-5"><span class="sr-only">{{ "components.admin.user-view.actions" | translate }}</span></th>
      </thead>
      <tbody>
        <tr *ngFor="let book of books" class="row">
          <td class="col-5 align-middle">
            <span class="d-inline-block text-truncate w-100">{{
              book.name
            }}</span>
          </td>
          <td [ngSwitch]="book.state" class="col-2">
            <ng-template ngSwitchCase="0"
              ><span class="badge badge-success product"
                >{{ "components.books.statuses.available" | translate }}</span
              ></ng-template
            >
            <ng-template ngSwitchCase="1"
              ><span class="badge badge-info product"
                >{{ "components.books.statuses.requested" | translate }}</span
              ></ng-template
            >
            <ng-template ngSwitchCase="2"
              ><span class="badge badge-info product"
                >{{ "components.books.statuses.reading" | translate }}</span
              ></ng-template
            >
            <ng-template ngSwitchCase="3"
              ><span class="badge badge-light product"
                >{{ "components.books.statuses.inactive" | translate }}</span
              ></ng-template
            >
          </td>
          <td class="col-5 py-2">
            <div *ngIf="book.state !== 1" class="row justify-content-end w-100">
              <ng-container *ngIf="book.state != 3; else inactiveBook">
                <button
                  *ngIf="book.userId != currentUserId"
                  class="btn btn-small btn-info col-6"
                  (click)="onTakeOwnershipButtonClick(book.id)"
                >
                {{ "components.admin.user-view.take-ownership" | translate }}
                </button>
                <button
                  class="btn btn-small btn-danger col-4"
                  (click)="onDeactivateBookButtonClick(book.id)"
                >
                {{ "components.admin.user-view.deactivate" | translate }}
                </button>
              </ng-container>
              <ng-template #inactiveBook>
                <button
                  class="btn btn-small btn-success col-4"
                  (click)="onActivateButtonClick(book.id)"
                >
                {{ "components.admin.user-view.activate" | translate }}
                </button>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <div *ngIf="user && user.id != currentUserId" class="d-flex flex-column align-items-start mt-5">
    <span *ngIf="activeBooksExist" class="text-danger">{{ "components.admin.user-view.cannot-delete" | translate }}</span>
    <button
      *ngIf="!user.isDeleted; else deletedUser"
      class="btn btn-danger w-25 mx-0 mb-0 mt-1"
      (click)="onDeleteUserButtonClick()"
      [disabled]="activeBooksExist"
    >
    {{ "components.admin.user-view.delete-user" | translate }}
    </button>
    <ng-template #deletedUser>
      <button
        class="btn btn-success w-25 m-0"
        (click)="onRecoverUserButtonClick()"
      >
      {{ "components.admin.user-view.recover" | translate }}
      </button>
    </ng-template>
  </div>
</div>
