p {
  margin: 0;
}

.comment-wrapper {
  list-style-type: none;
  padding-bottom: 5px;
}

.width-40{
  width:40%;
}

.pad{
  padding-left: 10px;
}

.avatar {
  margin-top: 10px;
}

.media {
  border-top: 1px dashed #0000002b;
}

.show-subcomments {
  display: block;
  margin-left: 60px;
}

.media-list {
  padding: 0;
  margin-left: 49px;
  margin-top: 5px;
}



.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-up {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

a[aria-expanded=false] .hidden,
a[aria-expanded=true] .shown{
  display: block;
  transition: all 3s;
  font-size: 14px;
}

a[aria-expanded=true] .hidden,
a[aria-expanded=false] .shown{
  display: none;
  transition: all 3s;
  font-size: 14px;
}

.btn-text {
  background-color: transparent;
  border: none;
  font-weight: 200;
  cursor: pointer;
  text-decoration: none;
  color: #007bff;
  padding: 0;
}

.text-area {
  margin-bottom: 8px;
}

.btn-text:focus {
  outline: none;
}

.text-deleted {
  color: #969090;
}

.time-value,
.reply-btn {
  font-size: 14px;
  color: rgba(0,0,0,.5);
  font-weight: 400;
}

.sub-comment {
  width: 360px;
  min-height: 90px;
  margin-top: 5px;
  border-radius: 0;
  overflow: hidden;
}

.comment-post-btn {
  width: 60px;
  height: 30px;
  margin: 0;
  margin-top: 12px;
  border-radius: 0;
  box-sizing: content-box;
  padding: 3px 6px;
}

.validation-error {
  font-size: 80%;
  color: #FF3547;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.close-icon {
  position: relative;
  padding: 10px 7px;
}

.deletable {
  position: relative;
  padding: 10px 25px 10px 10px;
}

.comment-area-wrapper {
  position: relative;
  display: inline-block;
}

.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  z-index:1;
  text-align: center;
  color: gray;
  font-weight: normal;
  font-size: 17px;
  cursor: pointer;
}

.deletable:not(:valid) ~ .close-icon {
  display: none;
}
