<div class="my-comment">

  <div class="row bootstrap snippets">
    <div class=" col-md-offset-2 col-sm-12">
      <div class="comment-wrapper">
        <div class="panel panel-info">

          <div>
            <ul class="media-list">

              <li *ngFor="let comment of comments;let i = index" [attr.data-index]="i" class="media">

                <a class="pull-left">
                  <ngx-avatar [name]="getUserName(comment.owner)"></ngx-avatar>
                </a>

                <div class="media-body pad">

                  <span class="time-value pull-right">
                        {{ formatDate(comment.date) }}
                  </span>
                  <strong *ngIf="!comment.isDeleted" class="text-success">by {{getUserName(comment.owner)}}</strong>

                  <a *ngIf="!comment.isDeleted && CanEditCommnet(comment.owner)"
                     [attr.data-target]="'#child_' + rootIteratorNum + '_' + i + '_edit'"
                     [attr.aria-controls]="'child_' + rootIteratorNum + '_' + i + '_edit'"
                     aria-expanded="false"
                     data-toggle="collapse"
                     role="button"
                     href="#">
                    Edit
                  </a>

                  <button *ngIf="!comment.isDeleted && CanEditCommnet(comment.owner)"
                          (click)="onDeleteComment(comment.id)"
                          role="button"
                          class="btn-text"
                  >
                    Delete
                  </button>

                  <p *ngIf="!comment.isDeleted; else DeletedMessage">
                    {{comment.text}}
                  </p>
                  <ng-template #DeletedMessage>
                    <p class="text-deleted">
                      [The comment was deleted]
                    </p>
                  </ng-template>

                  <small *ngIf="!comment.isDeleted">
                    <a data-toggle="collapse"
                       [attr.data-target]="'#child_' + rootIteratorNum + '_' + i + '_reply'"
                       aria-expanded="true"
                       [attr.aria-controls]="'child_' + rootIteratorNum + '_' + i + '_reply'"
                       role="button"
                       class="reply-btn">
                      Reply
                    </a>
                  </small>


                  <div class="accordion" id="accordionExample_{{i}}_{{rootIteratorNum}}">

                    <div [attr.id]="'child_' + rootIteratorNum + '_' + i + '_reply'" class="collapse" [attr.data-parent]="'#accordionExample_' + i + '_' + rootIteratorNum">
                      <!-- Reply form -->
                      <textarea class="form-control sub-comment"
                                [(ngModel)]='text'
                                placeholder="Write a reply up to 500 characters"
                                #Subcomment
                                (input)="onCommentInput(Subcomment, 500)"
                      ></textarea>

                      <button [disabled]="Subcomment.value.length === 0"
                              (click)="PostComment(returnID(comment.id))"
                              type="button"
                              class="btn btn-info pull-right comment-post-btn">
                        Post
                      </button>
                    </div>

                    <div [attr.id]="'child_' + rootIteratorNum + '_' + i + '_edit'" class="collapse" [attr.data-parent]="'#accordionExample_' + i + '_' + rootIteratorNum">
                      <!-- Edit form -->
                      <form #updateFrom="ngForm">
                       <textarea name="text"
                                 class="form-control sub-comment"
                                 placeholder="Write a reply up to 500 characters"
                                 [ngModel]="comment.text"
                                 #EditComment
                                 (input)="onCommentInput(EditComment, 500)"
                       ></textarea>

                        <button type="button"
                                class="btn btn-info comment-post-btn"
                                [disabled]="EditComment.value.length === 0"
                                (click)="updateComment(comment.id,updateFrom.value.text)">
                          Post
                        </button>
                      </form>
                    </div>
                  </div>






                  <ng-template [ngIf]="comment.comments.length > 0">
                    <a data-toggle="collapse" href="#child_subcomments_{{level}}_{{i}}" role="button"
                       aria-expanded="false" aria-controls="collapseExample">

                      <div class="hidden">
                        View all {{comment.comments.length}} replies
                        <i class="arrow-down"></i>
                      </div>

                      <div class="shown">
                        Hide all {{comment.comments.length}} replies
                        <i class="arrow-up"></i>
                      </div>
                    </a>

                    <div class="collapse" id="child_subcomments_{{level}}_{{i}}">
                      <app-childcomment (update)="UpdateComments()"
                                        [comments]="comment.comments"
                                        [level]="level + 1"
                                        [rootIteratorNum]="rootIteratorNum + '_' + i"
                                        [user]="user"
                                        [ids]="returnID(comment.id)"
                                        [isAuthorized]="isAuthorized" ></app-childcomment>

                    </div>
                  </ng-template>

                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

