#avatar{
    height: 30px;
}

.wrapper {
  position: relative;
  height: 0px;
  display: flex;
  align-items: center;
}

.avatar{
  border: 2px solid rgba(0,0,0,0);
  border-radius: 50%;
  -webkit-user-select: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.avatar[aria-expanded="true"]{
  border: 2px solid white;
}

.dropdown-unclickable-item{
  pointer-events: none;
  cursor: not-allowed;
}

.dropdown .dropdown-menu {
  top: 25px;
}

@media (max-width: 990px){
  .wrapper .avatar{
      position: relative;
      padding: 0px;
      right: 2px;
  }
  .wrapper {
    height: 100%;
  }
  .dropdown .dropdown-menu {
    right: auto;
    top: 100%;
  }
}
