<div class="view jarallax" data-jarallax='{"speed": 0.2}'
     style="background-image: url(https://assets.entrepreneur.com/content/3x2/2000/20191219170611-GettyImages-1152794789.jpeg);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <strong>Contacts</strong>
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center">
          <i class="fas fa-paper-plane"></i>
          <p><a (click)="copyMessage('support@bookcrossing.tech')" value="click to copy">support@bookcrossing.tech</a></p>
        </div>
        <div class="col-md"></div>
        <div class="col-md-3 text-center">
          <i class="fas fa-map-marker-alt"></i>
          <p>Lviv, 52 V.Velykoho Street</p>
        </div>
      </div>
    </div>
  </div>
</div>
