<div class="view jarallax" data-jarallax='{"speed": 0.2}'
     style="background-image: url(https://assets.entrepreneur.com/content/3x2/2000/20191219170611-GettyImages-1152794789.jpeg);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <strong>{{'components.contact-us.contacts' | translate }}</strong>
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center">
          <i class="fas fa-paper-plane"></i>
          <p>
            <a (click)="openEmail()"
            value="Click to copy"
            [href]="emailString"
            >support@bookcrossing.tech</a>
          </p>
        </div>
        <div class="col-md"></div>
        <div class="col-md-3 text-center">
          <i class="fas fa-map-marker-alt"></i>
          <p>Lviv, 52 V.Velykoho Street</p>
        </div>
      </div>

      <form #Formcontrol="ngForm"
        class="col-lg-6 offset-lg-3" 
        [formGroup]="contactsForm"
        (ngSubmit)="onSubmit()"
        >

        <div class="form-row">
          <div class="col-lg-12 mb-3">
            <mat-select 
              #select
              class="form-control" 
              formControlName="summary"
              placeholder="{{ 'components.contact-us.summary' | translate }}"
              >
              <mat-select-filter
                #MatFilter
                [array]="summaryStates" 
                (filteredReturn)="filteredStates = $event"
                placeholder="{{ 'components.contact-us.search' | translate }}"></mat-select-filter>
                  <ng-template [ngIf]="isEn()" [ngIfElse]="uk">
                    <mat-option *ngFor="let state of filteredStates" [value]="state.name">{{ state.name}}</mat-option>
                </ng-template>
                <ng-template #uk>
                    <mat-option *ngFor="let state of filteredStates" [value]="state.nameUk">{{ state.nameUk}}</mat-option>
                </ng-template>
            </mat-select>
            <div *ngIf="contactsForm.get('summary').errors">
              <div 
              *ngIf="contactsForm.get('summary').touched &&
              contactsForm.get('summary').errors?.required"
              class="validation-error">
                <small *ngIf="isEn()">You must choose an option</small>
                <small *ngIf="!isEn()">Потрібно вибрати один з варіантів</small>
              </div>
          </div>
          </div>
        </div>

        <div class="form-row mb-1">
          <div class="col-lg-12 mb-3">
            <textarea class="form-control" 
            #textarea
            formControlName="description"
            rows="8" 
            maxlength="500" 
            style="resize: none;" 
            placeholder="{{'components.contact-us.textMessage' | translate }}"></textarea>
          </div>
        </div>

        <div class="form-row justify-content-center mb-3">
          <button class="btn btn-primary" type="submit" [disabled]="select.value === '' || textarea.value === ''">{{ 'components.contact-us.send' | translate }}</button>
          <input type="button" class="btn" (click)="Cancel()" value="{{ 'common.cancel' | translate }}" />
        </div>

      </form>
    </div>
  </div>
</div>
