.md-form input::placeholder {
    color: #bdbdbd;
  }
.form-control-sm {
  padding:0.18rem 0.5rem 0.18rem 0.7rem;
}
.fa-search, .md-form input{
  color: #bdbdbd;
}
.search-bar{
  border-radius: 16px;
}
.search-field{
  background: none;
  border:none;
  line-height: normal;
  outline:none;
  margin-bottom: 5px;
}
.search-bar:focus{
  outline:none;
}
.clear-icon, .search-icon{
  display: inline-block;
  fill: currentColor;
  position: relative;
}

.clear-icon{
    color: #80868b;
    margin-right: 2px;
    height: 20px;
    line-height: 20px;
    width: 20px;
}
.devider {
  border-left: 1px solid #dfe1e5;
  height: 65%;
}
.search-icon{
  margin-left: 2px;
  height: 24px;
  line-height: 24px;
  width: 24px;
}
.hidden{
  visibility: hidden;
}
