<div class="admin-container">
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [(opened)]="isSideBarOpened">
    <div class="sidebar-fixed pt-5">
      <div class="d-flex justify-content-center">
        <img src=""
             class="logo-header" alt="company's logo">
      </div>
      <div class="list-group list-group-flush" >
        <div class="list-group-item active waves-effect" (click)="showTableManagement = !showTableManagement">
          <i class="fa fa-pie-chart mr-3"></i>Table Management
        </div>
        <div *ngIf="showTableManagement" (click)="isSideBarOpened = !isSideBarOpened">
          <a routerLink="authors" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-table mr-3"></i>Authors</a>
          <a routerLink="locations" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-table mr-3"></i>Locations</a>
          <a routerLink="genres" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-table mr-3"></i>Genres</a>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="slider">
      <i class="fas fa-2x fa-angle-double-right" (click)="isSideBarOpened = !isSideBarOpened"></i>
    </div>
    <div>
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
