<h3 mat-dialog-title class="dialog-title mb-1">Please specify your location</h3>
<p class="mb-3">The action is required for Book's registration and Book's requesting</p>
<mat-dialog-content>
  <div class="d-flex flex-column">
    <div class="mb-4 row align-items-center">
      <div class="col-4">
        <label class="input-label m-0">Location:<span class="asterisk"> *</span></label>
      </div>
      <div class="col">
        <mat-select class="form-control select-dropdown" placeholder="Select one">
          <mat-option *ngFor="let location of locations" [value]="location.id" [matTooltip]="location.city
                                    + ' ' + location.officeName + ', ' + location.street" matTooltipPosition="right">
            {{location.city}} {{location.officeName}}, {{location.street}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="row align-items-center mb-4">
      <div class="col-4">
        <label class="input-label m-0">Room number:<span class="asterisk"> *</span></label>
      </div>
      <div class="col">
        <input type="number" class="form-control" />
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="row w-100 justify-content-end">
    <div class="col-lg-3 col-md-3 col-sm">
      <button class="btn btn-primary w-100">Save</button>
    </div>
    <div class="col-lg-3 col-md-3 col-sm">
      <button class="btn w-100" mat-dialog-close>Close</button>
    </div>
  </div>
</mat-dialog-actions>