.asterisk {
    color: red;
}

.dialog-title {
    font-size: 25px;
}

.divider {
    height: 1px;
    width: 100%;
    display: block;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}