.map-container{
  height:300px;
}
.form-background{
  background-color: #fff;
}
.title{
  text-align: left;
  font-size: 24pt;
}

.input-label{
  text-align: left;
  font-size: 16pt;
}
.asterisk {
  color: red;
}