<div class="container p-3">
  <div >
  <div class="map-container">
    <app-mapbox></app-mapbox>
  </div>
</div>
  <div>
    <form
      [formGroup]="addLocationForm"
      (ngSubmit)="onSubmit()"
      class="text-center border border-light p-5 form-background"
    >
      <p class="h4 mb-4 title" *ngIf="!isEdited">Add location</p>
      <p class="h4 mb-4 title" *ngIf="isEdited">Edit location</p>

      <!-- City input-->
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">City: <span class="asterisk"> *</span></p>
        </div>
        <div class="col-4">
          <input 
          formControlName="city" 
          type="text" 
          class="form-control"
          maxlength="30" />
        </div>
      </div>

      <!-- Street input -->
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">Street: <span class="asterisk"> *</span></p>
        </div>
        <div class="col-4">
          <input 
          formControlName="street" 
          type="text" 
          class="form-control"
          maxlength="50" />
        </div>
      </div>

      <!-- Office name input -->
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">Office: <span class="asterisk"> *</span></p>
        </div>
        <div class="col-4">
          <input
            formControlName="officeName"
            type="text"
            class="form-control"
            maxlength="10"
          />
        </div>
      </div>

      <!-- Add location button -->
      <button
        class="btn btn-info"
        type="submit"
        [disabled]="addLocationForm.invalid"
      >
        Submit
      </button>
      <button *ngIf="isEdited" class="btn btn-danger" (click)="onCancel()">
        Cancel
      </button>
    </form>
  </div>
</div>
