
.error-wrap {
  text-align: center;
}

.error-code {
  padding: 20px 0;
  font-size: 150px;
  color: #212121;

}

.error-title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.error-message-text {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
