<div class="container my-5">

  <app-book-filter-bar 
  [showAvailable]="false"
  [(selectedGenres)]="selectedGenres" 
  [(selectedLocation)]="queryParams.location"
  (filterChange)="onFilterChange($event)">
</app-book-filter-bar>
  
  <div class="card m-3" *ngFor="let request of requests">
    <div class="row no-gutters">
      <div class="col-auto">
        <img class="rounded"
          src="https://static1.squarespace.com/static/582caad246c3c4568a7e562e/582cef45bebafbcbcdd6ba24/58497122e6f2e14dcf3ae40c/1562091847195/booktitle.jpg?format=1500w"
          height="200" width="200" alt="rf">
      </div>
      <div class="col m-2">
        <div class="card-block px-2">
          <h4 class="card-title"><strong>{{request.book.name}}</strong></h4>
          <p class="card-text"> Authors : <a [href]="author.id" *ngFor="let author of request.book.authors; let i = index">
              <ng-template [ngIf]="i!=0"> , </ng-template>{{author.firstName}} {{author.lastName}}
            </a>
            <br>
            <ng-template [ngIf]="request.book.genres.length==1" [ngIfElse]="manyGenres">Category </ng-template>
            <ng-template #manyGenres>Categories : </ng-template>

            <a [href]="genre.id" *ngFor="let genre of request.book.genres">{{genre.name}} </a>
            <br>
            Location : {{request.owner.userLocation[0].location.city + " " + request.owner.userLocation[0].location.officeName}}
            <br>

            Status : 
              <font color="red">Requested</font>
              <br>
              <a role="button" class="btn btn-primary" (click)="cancelRequest(request.id)">Cancel request</a>
          </p>

        </div>
      </div>
    </div>
  </div>
  <app-pagination *ngIf="requests && requests.length > 0" [arraySize]="totalSize" [pageSize]="queryParams.pageSize"
    [selectedPage]="queryParams.page" (onPageChange)="pageChanged($event)">
  </app-pagination>
</div>