<div class="container">
  <div class="row counters">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="counter">
        <a [routerLink]="['/wishlist']" class="icon wishlist">
          <i class="fas fa-heart"></i>
        </a>
        <div class="counter-body">
          <div class="title">
            Added to wishlist
          </div>
          <div class="value">
            {{countersData?.wishedBooksCount}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="counter">
        <a [routerLink]="['/books/requests']" class="icon requested">
          <i class="fas fa-book"></i>
        </a>
        <div class="counter-body">
          <div class="title">
            Requested
          </div>
          <div class="value">
            {{countersData?.requestedBooksCount}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="counter">
        <a [routerLink]="['/books/read']" class="icon not-finished">
          <i class="fas fa-book-open"></i>
        </a>
        <div class="counter-body">
          <div class="title">
            To be finished
          </div>
          <div class="value">
            {{countersData?.readBooksCount}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="counter">
        <div class="icon books-read">
          <i class="fas fa-user"></i>
        </div>
        <div class="counter-body">
          <div class="title">
            Your books read
          </div>
          <div class="value">
            {{countersData?.registeredBooksWereReadCount}}
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Pie charts -->
  <div class="pie-charts">
    <div class="card">
      <div class="">
        <div class="card-title">
          Donated
        </div>
        <div class="pie-chart"
             echarts
             [options]="donatedPieChartOption"
             (mouseover)="DonatedTotal.style.display = 'none';"
             (mouseleave)="DonatedTotal.style.display = 'block';">
        </div>
        <div #DonatedTotal>
          <ng-container *ngIf="donatedPieData?.total !== 0; else DidNotDonateAnyBook">
            <div class="total">
              {{donatedPieData?.total}}
            </div>
          </ng-container>
          <ng-template #DidNotDonateAnyBook>
            <div class="total-none">
              You didn't donate any book yet
            </div>
          </ng-template>
        </div>
        <mat-form-field class="picker">
          <mat-label>{{'components.admin.dashboard.choose-data-range' | translate}}</mat-label>
          <mat-select [(ngModel)]="selectedDonatedDataRange" (selectionChange)="onDonatedPieDateRangeChange()">
            <mat-option
              [value]="DateRangeEnumValues.Week">{{'components.admin.dashboard.week' | translate}}</mat-option>
            <mat-option
              [value]="DateRangeEnumValues.Month">{{'components.admin.dashboard.month' | translate}}</mat-option>
            <mat-option
              [value]="DateRangeEnumValues.HalfYear">{{'components.admin.dashboard.six-months' | translate}}</mat-option>
            <mat-option
              [value]="DateRangeEnumValues.Year">{{'components.admin.dashboard.year' | translate}}</mat-option>
            <mat-option
              [value]="DateRangeEnumValues.AllTime">All time</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="card">
      <div class="">
        <div class="card-title">
          Books read
        </div>
        <div class="pie-chart"
             echarts
             [options]="readPieChartOption"
             (mouseover)="ReadTotal.style.display = 'none';"
             (mouseleave)="ReadTotal.style.display = 'block';">
        </div>
        <div #ReadTotal>
          <ng-container *ngIf="readPieData?.total !== 0; else DidNotReadAnyBook">
            <div class="total">
              {{readPieData?.total}}
            </div>
          </ng-container>
          <ng-template #DidNotReadAnyBook>
            <div class="total-none">
              You didn't read any book yet
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="">
        <div class="card-title">
          Book languages
        </div>
        <div class="pie-chart"
             echarts
             [options]="languagesPieChartOption"
             (mouseover)="LanguagesTotal.style.display = 'none';"
             (mouseleave)="LanguagesTotal.style.display = 'block';">
        </div>
        <div #LanguagesTotal>
          <ng-container *ngIf="languagesPieData?.total !== 0; else DidNotReadAnyBook">
            <div class="total">
              {{ languagesPieData?.chartData[0]?.name.substr(0, 3).toUpperCase() }}
            </div>
          </ng-container>
          <ng-template #DidNotReadAnyBook>
            <div class="total-none">
              You didn't read any book yet
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
