/* Counters */
.wishlist {
 background-color: #FF00B3;
}

.requested {
  background-color: #00258D;
}

.not-finished {
  background-color: #2A8D00;
}

.books-read {
  background-color: #FED500;
}

.counters {
  margin-top: 25px;
}

.counter {
  display: flex;
  padding: 3px;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.52);
}

.counter .icon {
  padding: 30px;
  color: white;
  font-size: 2rem;
}

.counter .counter-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.counter .counter-body .title{
  text-align: center;
  font-weight: 500;
  color: #7F7F7F;
  font-size: 14px;
}

.counter .counter-body .value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #7F7F7F;
  font-size: 52px;
  font-weight: 600;
}


/* Pie charts */
.pie-charts {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.pie-chart {
  margin: 15px;
  height: 375px;
}

.total {
  position: absolute;
  top: 39.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #1D70B8;
  font-weight: 400;
}

.total-none {
  position: absolute;
  top: 39.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #1D70B8;
  font-weight: 400;
  width: 80%;
  text-align: center;
}

.card {
  width: 32%;
}

.card-title {
  text-align: center;
  padding: 18px 10px;
  background: linear-gradient(90deg, #020024 0%, #3f51b5 100%, #1b8ea6 100%);
  color: white;
  margin: 15px;
  font-size: 23px;
}

.picker {
  float: right;
  width: 170px;
  margin-right: 15px;
}
