<div>
  <form
    [formGroup]="addBookForm"
    #ngForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="text-center border border-light p-5"
  >
    <p class="h3 mb-4 title">Register book</p>
    <div>
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="h5 input-label">Book title:*</p>
        </div>
        <div class="col-4">
          <!-- Book title -->
          <input
            formControlName="title"
            type="text"
            class="form-control"
            placeholder="Color of magic"
            required
            [ngClass]="{
              'is-invalid':
                addBookForm.controls.title.invalid &&
                addBookForm.controls.title.touched
            }"
          />
          <div
            class="invalid-feedback"
            [ngClass]="{
              'is-invalid':
                addBookForm.controls.title.invalid &&
                addBookForm.controls.title.touched
            }"
          >
            Please enter book title.
          </div>
        </div>
      </div>

      <!-- Author -->
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="h5 input-label">Author:*</p>
        </div>
        <div class="col-4">
          <input
            formControlName="author"
            #authorSearch
            type="text"
            class="form-control"
            placeholder="Terry Pratchett"
            [matAutocomplete]="auto"
            [ngClass]="{
              'is-invalid':
                addBookForm.controls.author.touched &&
                !selectedAuthors.length &&
                !addBookForm.controls.author.value
              
            }"
          />
          <div class="invalid-feedback">
            Please select author.
          </div>
          <div *ngIf="addBookForm.controls.author.value" 
          class="new-author-warning"
          >
            Entered author is saved as 'not confirmed'
          </div>
        </div>
        <div class="col">
          <div>
            <ul class="list-group authors-list list-group-horizontal-sm">
              <li
                *ngFor="let author of selectedAuthors"
                class="list-group-item"
              >
                <span>{{
                  author.firstName +
                    " " +
                    author.middleName +
                    "  " +
                    author.lastName
                }}</span>
                <span
                  ><i class="fas fa-ban" (click)="onDeleteAuthor(author)"></i>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onAuthorSelect($event); authorSearch.value = ''"
      >
        <mat-option
          *ngFor="
            let author of authors
              | contentFilter
                : authorSearch.value
                : ['firstName', 'lastName', 'middleName']
          "
          [value]="author"
        >
          {{
            author.firstName + " " + author.middleName + " " + author.lastName
          }}
        </mat-option>
      </mat-autocomplete>

      <!-- Category -->
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="h5 input-label">Category:*</p>
        </div>
        <!-- Select multiple genres -->
        <div class="col-4">
          <mat-select
            formControlName="genres"
            class="form-control"
            multiple
            placeholder="Select"
            required
            [ngClass]="{
              'is-invalid':
                addBookForm.controls.genres.invalid &&
                addBookForm.controls.genres.touched
            }"
          >
            <mat-select-trigger>
              {{
                addBookForm.get("genres").value
                  ? getGenreById(addBookForm.get("genres").value[0])
                  : ""
              }}
              <span
                *ngIf="addBookForm.get('genres').value?.length > 1"
                class="additional-selection"
              >
                (+{{ addBookForm.get("genres").value.length - 1 }}
                {{
                  addBookForm.get("genres").value.length === 2
                    ? "other"
                    : "others"
                }})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let genre of genres" [value]="genre.id">{{
              genre.name
            }}</mat-option>
          </mat-select>
          <div
            class="invalid-feedback"
            [ngClass]="{
              'is-invalid':
                addBookForm.controls.genres.invalid &&
                addBookForm.controls.genres.touched
            }"
          >
            Please select genre.
          </div>
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col-3">
          <p class="h5 input-label">Publishing house:</p>
        </div>
        <div class="col-4">
          <input
            formControlName="publisher"
            type="text"
            class="form-control"
            placeholder="Machaon"
          />
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col-3">
          <p class="h5 input-label">Notice:</p>
        </div>
        <div class="col-4">
          <textarea
            formControlName="description"
            type="text"
            class="form-control"
            placeholder=""
          ></textarea>
        </div>
      </div>

      <div class="form-row mb-4">
        <button type="button" class="btn btn-info" (click)="fileInput.click()">
          Add image
        </button>
      </div>

      <div class="form-row mb-4">
        <div class="col-3">
          <p class="h5 input-label">Image:</p>
        </div>
        <div class="file-upload-wrapper">
          <input
            #fileInput
            style="display: none;"
            type="file"
            accept="image/png, image/jpeg"
            (change)="onFileSelected($event)"
          />
        </div>
        <div class="col-4" *ngIf="selectedFile">
          <p class="h5 input-label">{{ selectedFile.name }}</p>
        </div>
      </div>
    </div>

    <!-- Add book button -->
    <button
      class="btn btn-info"
      type="submit"
      name="submit"
      [disabled]="
        addBookForm.invalid ||
        (selectedAuthors.length === 0 && !addBookForm.controls.author.value)
      "
    >
      Submit
    </button>
    <button class="btn" (click)="goToPage('books')">
      Cancel
    </button>
  </form>
</div>
