<div>
  <form
    [formGroup]="addBookForm"
    #ngForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="text-center border border-light p-5"
  >
    <p class="h2 mb-4 title">Register book</p>
    <div>
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">Book title:<span class="asterisk"> *</span></p>
        </div>
        <div class="col-4">
          <!-- Book title -->
          <input
            formControlName="title"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && addBookForm.controls.title.errors
            }"
            (input)="checkLength('title', $event, 100)"
          />
          <div
            *ngIf="submitted && addBookForm.controls.title.errors"
            class="invalid-feedback"
          >
            <div *ngIf="addBookForm.controls.title.errors.required">
              This field is required.
            </div>
          </div>
        </div>
      </div>
      <!-- Author -->
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">Author:<span class="asterisk"> *</span></p>
          <div class="custom-control custom-checkbox" style="text-align: left;">
            <input
              type="checkbox"
              class="custom-control-input"
              id="uncheckedAuthor"
              [checked]="withoutAuthorChecked"
              (change)="changeAuthorInput()"
            />
            <label class="custom-control-label" for="uncheckedAuthor"
              >Without author</label
            >
          </div>
        </div>
        <div class="col-4">
          <div class="form-row">
            <div class="col">
              <input
                formControlName="authorFirstname"
                #firstnameInput
                type="text"
                class="form-control"
                maxlength="100"
                [matAutocomplete]="FirstNameAuto"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    ((!selectedAuthors.length &&
                      !addBookForm.controls.authorFirstname.value?.trim()) ||
                      !checkAuthorLastName(
                        addBookForm.controls.authorFirstname.value
                      )) &&
                    !withoutAuthorChecked
                }"
                (focus)="authorFocused = true"
                (blur)="authorFocused = false"
              />
              <div
                *ngIf="
                  submitted &&
                  !selectedAuthors.length &&
                  !addBookForm.controls.authorFirstname.value?.trim() &&
                  !withoutAuthorChecked
                "
                class="invalid-feedback"
              >
                This field is required.
              </div>
              <div
                *ngIf="
                  submitted &&
                  !checkAuthorLastName(
                    addBookForm.controls.authorFirstname.value
                  ) && !withoutAuthorChecked
                "
                class="new-author-warning"
              >
                Lastname is required.
              </div>
            </div>
          </div>
          <div
            *ngIf="addBookForm.controls.authorFirstname.dirty && addBookForm.controls.authorFirstname.value!='' && !withoutAuthorChecked"
            class="new-author-warning"
          >
            <span>Entered author is saved as 'not confirmed'</span>
          </div>
        </div>
        <div class="col">
          <div>
            <ul class="list-group authors-list list-group-horizontal-sm">
              <li
                *ngFor="let author of selectedAuthors"
                class="list-group-item"
              >
                <span>{{ author.firstName + "  " + author.lastName }}</span>
                <span
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="onDeleteAuthor(author)"
                >
                  <span aria-hidden="true">×</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <mat-autocomplete
        #FirstNameAuto="matAutocomplete"
        (optionSelected)="onAuthorSelect($event); firstnameInput.value = ''"
      >
        <mat-option
          *ngFor="
            let author of filterConfirmedAuthors()
              | contentFilter
                : firstnameInput.value.trim()
                : ['firstName', 'lastName']
          "
          [value]="author"
        >
          {{ author.firstName + " " + author.lastName }}
        </mat-option>
      </mat-autocomplete>

      <!-- Category -->
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">Category:<span class="asterisk"> *</span></p>
        </div>
        <!-- Select multiple genres -->
        <div class="col-4">
          <mat-select
            formControlName="genres"
            class="form-control"
            multiple
            placeholder="Select"
            [ngClass]="{
              'is-invalid': submitted && addBookForm.controls.genres.errors
            }"
          >
            <mat-select-trigger>
              {{
                addBookForm.get("genres").value
                  ? getGenreById(addBookForm.get("genres").value[0])
                  : ""
              }}
              <span
                *ngIf="addBookForm.get('genres').value?.length > 1"
                class="additional-selection"
              >
                (+{{ addBookForm.get("genres").value.length - 1 }}
                {{
                  addBookForm.get("genres").value.length === 2
                    ? "other"
                    : "others"
                }})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let genre of genres" [value]="genre.id">{{
              genre.name
            }}</mat-option>
          </mat-select>
          <div
            *ngIf="submitted && addBookForm.controls.genres.errors"
            class="invalid-feedback"
          >
            <div *ngIf="addBookForm.controls.genres.errors.required">
              This field is required.
            </div>
          </div>
        </div>
      </div>

      <!-- Language -->
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">Language:<span class="asterisk"> *</span></p>
        </div>
        <div class="col-4">
          <mat-select
            class="form-control"
            formControlName="languageId"
            placeholder="Select"
            [ngClass]="{
              'is-invalid': submitted && addBookForm.controls.languageId.errors
            }"
          >
            <mat-option *ngFor="let language of languages" [value]="language.id">{{
              language.name
              }}</mat-option>
          </mat-select>
          <div
            *ngIf="submitted && addBookForm.controls.languageId.errors"
            class="invalid-feedback"
          >
            <div *ngIf="addBookForm.controls.languageId.errors.required">
              This field is required.
            </div>
          </div>
        </div>
      </div>

      <!-- Publisher -->
      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">Publishing house:</p>
        </div>
        <div class="col-4">
          <input
            formControlName="publisher"
            type="text"
            class="form-control"
            (input)="checkLength('publisher', $event, 100)"
          />
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">Notice:</p>
        </div>
        <div class="col-4">
          <textarea
            formControlName="description"
            type="text"
            class="form-control"
            (input)="checkLength('description', $event, 250)"
          ></textarea>
        </div>
      </div>

      <div class="form-row mb-4">
        <button type="button" class="btn btn-info" (click)="fileInput.click()">
          Add image
        </button>
      </div>

      <div class="form-row mb-4">
        <div class="col-3">
          <p class="input-label">Image:</p>
        </div>
        <div class="file-upload-wrapper">
          <input
            #fileInput
            style="display: none;"
            type="file"
            accept="image/png, image/jpeg"
            (change)="onFileSelected($event)"
          />
        </div>
        <div class="col-4">
          <div *ngIf="selectedFile">
            <span
              >{{ selectedFile.name }} ({{ selectedFile.size / 1000 }}kb)</span
            >
            <span
              *ngIf="selectedFile"
              type="button"
              class="close"
              aria-label="Close"
              (click)="onFileClear()"
            >
              <span aria-hidden="true">×</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Add book button -->
    <button class="btn btn-info" type="submit" name="submit">
      Save
    </button>
    <input type="button" class="btn" (click)="onCancel()" value="Cancel" />
  </form>
</div>
