$color-danger: red;

form {
    margin: 0% 10%;
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;  
}
mat-select{
    text-align: left;
}

mat-select-trigger{
    color: #495057;
}

.authors-list {
    list-style-type:none;
    text-align: left;
li{
    padding: 1%;
    span{
        margin-left: 2px;
        margin-right: 5px;
    }
    i{
        color: lighten($color-danger, 20%);
    }
    i:hover{
        color: $color-danger;
    }
}

}


.title{
    text-align: left;
}

.input-label{
    text-align: left;
}

.new-author-warning{
    font-size: 0.8em;
}