<ng-template appRef>
    <!--Add Form-->
  </ng-template>
  
  <div class="container my-5">
    <section>
      <div class="row">
        <div class="col-12">
          <div class="card card-list">
            <div class="card-header white d-flex  align-items-center py-3">
  
              <p class="h5-responsive font-weight-bold mb-1 mr-2">
                {{'components.admin.issues.issues' | translate}}
              </p>
  
              <!-- header search -->
              <div class="col">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="{{'components.admin.search' | translate}}" aria-label="Search"
                         [(ngModel)]="searchText" (keyup.enter)="search()">
                  <div class="input-group-append">
                    <button class="input-group-text btn-light" (click)="search()">
                      <i class="fas fa-search text-grey" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Table -->
            <div class="card-body">
              <ng-template [ngIf]="isEn()" [ngIfElse]="en">
                <app-admin-table
                  [data]="issues"
                  [displayColumns]="issuesDisplayColumns"
                  [(sortParams)]="queryParams.sort"
                  (editClicked)="editIssue($event)"
                  [canEdit]="true"
                  [canDelete]="true"
                  (deleteClicked)="deleteIssue($event)"
                  (selectedHeaderChange)="onChangeSort()"
                  [dataProperties]="issueProperties">
                </app-admin-table>
              </ng-template>
              <ng-template #en>
                <app-admin-table
                  [data]="issues"
                  [displayColumns]="issuesDisplayColumns"
                  [(sortParams)]="queryParams.sort"
                  (editClicked)="editIssue($event)"
                  [canEdit]="true"
                  [canDelete]="true"
                  (deleteClicked)="deleteIssue($event)"
                  (selectedHeaderChange)="onChangeSort()"
                  [dataProperties]="issuePropertiesUk">
                </app-admin-table>
              </ng-template>
  
              <app-pagination *ngIf="issues && issues.length > 0" [arraySize]="totalSize"
                              [pageSize]="queryParams.pageSize" [selectedPage]="queryParams.page" (PageChange)="pageChanged($event)">
              </app-pagination>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  