<section class="d-flex justify-content-center row justify-content-center">

    <form class="border border-light form-container col-sm" [formGroup]="form" (ngSubmit)="submit()">
        <h3 class="text-center p-2">
            <strong>{{title}}</strong>
        </h3>
        <div class="form">
            <div class="mb-3">
                <label for="AuthorFormFirstname">First name <span class="asterisk"> *</span></label>
                <input type="text" id="AuthorFormFirstname" class="form-control" formControlName="firstName"
                    name="firstName">
            </div>

            <div class="mb-3">
                <label for="AuthorFormLastname">Last name <span class="asterisk"> *</span></label>
                <input type="text" id="AuthorFormLastname" class="form-control" formControlName="lastName"
                    name="lastName"></div>

            <div class="">
                <label for="AuthorFormMiddlename">Middle name </label>
                <input type="text" id="AuthorFormMiddlename" class="form-control" formControlName="middleName"
                    name="middleName"></div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-info" type="submit" name="submit">
            Submit
          </button>
          <input type="button" class="btn" (click)="cancel()" value="Cancel" />
        </div>
    </form>
  <aside *ngIf="authorsMerge?.length > 1" class="author-container border border-light col">
      <h3 class="text-center p-2">
        <strong>Selected authors: </strong>
      </h3>
      <div class="p-1">
        <ul>
          <li *ngFor="let a of authorsMerge"> {{a.firstName}} {{a.lastName}} {{a.middleName}}</li>
        </ul>
      <p class="pl-1"><em> Authors above will be merged into a single author: </em></p>
      <span class="author-result">{{form.value.firstName}} {{form.value.lastName}} {{form.value.middleName}}</span>
    </div>
  </aside>

</section>

